<!-- Footer component -->
<footer class="footer">
  <ul>
    <li>
      <i class="fas fa-copyright"></i>
      <span>CCI Connections</span>
    </li>
    <li>
      <a href="../about.ejs">ABOUT</a>
    </li>
    <li>
      <a href="../contact.ejs">CONTACT</a>
    </li>
    <li class="float-right fb-handle">
      <a target="_blank" href="https://www.facebook.com/">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li class="float-right twitter-handle">
      <a target="_blank" href="https://twitter.com/?lang=en">
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
  </ul>
</footer>
<!-- Footer component end -->