<!-- Navbar top header  -->
<header class="navbar navbar-dark bg-dark sticky-top">
  <!-- Navbar content -->
  <!-- logo -->
  <div class="brand-wrapper">
    <a href="../index.ejs">
      <img src="../../assets/img/logo.jpg" alt="brand_logo" class="custom-logo" />
    </a>
  </div>
  <div class="navigation-engine">
    <ul>
      <li>
        <a href="../savedConnections.ejs">Start a new connection</a>
      </li>
      <li>
        <a href="../login.ejs">Sign In</a>
      </li>
      <li>
        <a href="../signUp.ejs">Sign Up</a>
      </li>
    </ul>
  </div>
</header>