<section class="view-connection-link">
    <div class="view-connections">
        <h6>
            <a href="login.ejs">
                <i class="fab fa-connectdevelop"></i>
                Connections
            </a>
        </h6>
    </div>
</section>
<!-- Navbar top header end -->