<section class="view-connection-link">
  <div class="view-connections">
    <h6>
      <a class="connections-link" href="../connections.ejs">
        <i class="fas fa-share-alt-square"></i>
        Connections
      </a>
      <a class="dogs" href="../seeDogs.ejs">
        Fun Place!
      </a>
    </h6>
  </div>
</section>
<!-- Navbar top header end -->