<!-- Navbar top header  -->
<header class="navbar navbar-dark bg-dark sticky-top">
  <span class="usercontent">
    Welcome <%=username%>
  </span>
  <!-- Navbar content -->
  <!-- logo -->
  <div class="brand-wrapper">
    <a href="../index.ejs">
      <img src="../../assets/img/logo.jpg" alt="brand_logo" class="custom-logo" />
    </a>
  </div>
  <div class="navigation-engine user-signed-in">
    <ul>
      <li>
        <a href="../newConnection.ejs">Start a new connection</a>
      </li>
      <li>
        <a href="../savedConnections.ejs">My Connection</a>
      </li>
      <li>
        <a href="../login.ejs">Sign Out</a>
      </li>
    </ul>
  </div>
</header>