<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Home Page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Fonts CDN -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />

    <!-- local css files -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/seeDog.css" />
</head>

<body>

    <!-- Main body component -->
    <!-- wp:html -->
    <div class="corgiblock">
        <div class="wrap">
            <div class="resize" id="corgi_wrap">
                <div class="corgi_head_area">
                    <div class="leg_fr_left brown"></div>
                    <div class="leg_fr_right brown"></div>
                    <div class="corgi_breast white"></div>
                    <div class="fuwa corgi_face_area">
                        <div class="corgi_face white">
                            <div class="eye-left"></div>
                            <div class="eye-right"></div>
                            <div class="corgi_nose white">
                                <div class="nose"></div>
                            </div>
                            <div class="ear-left brown"></div>
                            <div class="ear-right brown"></div>
                        </div>
                    </div>

                </div>
                <div class="corgi_body_area">
                    <div class="corgi_body brown"></div>
                </div>
                <div class="corgi_tail_area">
                    <div class="corgi_hip brown" id="hip">
                        <div class="leg_ba_left brown"></div>
                        <div class="leg_ba_right brown"></div>
                    </div>
                </div>
            </div>
            <div class="dog">
                <div class="dog-head">
                    <div class="dog-ears ears-left"></div>
                    <div class="dog-ears ears-right"></div>
                    <div class="dog-eyes"></div>
                    <div class="dog-mouth">
                        <div class="dog-nose"></div>
                        <div class="dog-tongue"></div>
                    </div>
                </div>
                <div class="dog-tail"></div>
                <div class="dog-body">
                    <div class="dog-foot"></div>
                </div>
                <div class="ball"></div>
            </div>
            <div class="note">
                <a href="../connections.ejs">Leave the dogs and go back?!</a>
            </div>

        </div>
    </div>
    <!-- Main body component end -->
</body>

</html>